# Development / integration testing only
services:
  bot:
    image: node:lts-slim@sha256:bf22df20270b654c4e9da59d8d4a3516cce6ba2852e159b27288d645b7a7eedc
    volumes:
      - './:/srv/bot'
    working_dir: /srv/bot
    command: npm run start:dev
    env_file:
      - .env
    depends_on:
      - zipkin

  zipkin:
    image: openzipkin/zipkin@sha256:bb570eb45c2994eaf32da783cc098b3d51d1095b73ec92919863d73d0a9eaafb
    ports:
      - '9411:9411'
