# Development / integration testing only
services:
  bot:
    image: node:lts-slim@sha256:04d9cbb7297edb843581b9bb9bbed6d7efb459447d5b6ade8d8ef988e6737804
    volumes:
      - './:/srv/bot'
    working_dir: /srv/bot
    command: npm run start:dev
    env_file:
      - .env
    depends_on:
      - zipkin

  zipkin:
    image: openzipkin/zipkin@sha256:bb570eb45c2994eaf32da783cc098b3d51d1095b73ec92919863d73d0a9eaafb
    ports:
      - '9411:9411'
