name: Build and Test

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@7730a4115961fd7f7265421bfb50f752f87b98e8 # master
        with:
          node-version: lts/*
          registry-url: https://npm.pkg.github.com

  lint:
    name: Check Code Style
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Run code style check
        uses: myrotvorets/composite-actions/node-run-script@7730a4115961fd7f7265421bfb50f752f87b98e8 # master
        with:
          registry-url: https://npm.pkg.github.com
          script: lint

  typecheck:
    name: Check Types
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Run type check
        uses: myrotvorets/composite-actions/node-run-script@7730a4115961fd7f7265421bfb50f752f87b98e8 # master
        with:
          registry-url: https://npm.pkg.github.com
          script: typecheck
